body {
  background: #fefefe;
}

.window-content {
  flex-direction: column;
  
  form {
    margin-top: 25px;
    padding: 0 15px;
  }
  
  button {
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
    background: #3072d4;
    border: 1px solid lighten(#3072d4, 10%)
  }
}

.pane-group {
  padding: 10px; 
  
  .form-group {
    label {
      font-weight: 600;
      color: #666;
    }
  }
  
  select.form-control {
    width: 100%;
  }
}
